In [1]:
import pandas as pd

In [2]:
df='第二版数据.csv'
data=pd.read_csv(df,encoding='ANSI')

In [3]:
data.head(4)

  timestamp  link_id  throughput     delay    jitter  loss
0   56:56.6  2-3-2-3         0.0  1.516461  1.516461   0.0
1   56:56.6  3-3-2-4         0.0  1.475573  1.475573   0.0
2   56:56.6  1-2-2-2         0.0  1.227856  1.227856   0.0
3   56:56.6  4-3-2-5         0.0  1.355648  1.355648   0.0

In [4]:
flag=data['link_id'].str.split("-",expand=True)
data["入端口"]=flag[0]
data["出端口"]=flag[3]
data["组合"]=flag[0]+flag[3]

In [5]:
data.head(4)

  timestamp  link_id  throughput     delay    jitter  loss 入端口 出端口  组合
0   56:56.6  2-3-2-3         0.0  1.516461  1.516461   0.0   2   3  23
1   56:56.6  3-3-2-4         0.0  1.475573  1.475573   0.0   3   4  34
2   56:56.6  1-2-2-2         0.0  1.227856  1.227856   0.0   1   2  12
3   56:56.6  4-3-2-5         0.0  1.355648  1.355648   0.0   4   5  45

In [7]:
data.to_csv("第二版处理后的test.csv",index=False,encoding='ANSI')

In [16]:
df2='45.xlsx'
data2=pd.read_excel(df2)
data2.head(4)

,timestamp,link_id,throughput,delay,jitter,loss,入端口,出端口,组合
0,00:56:56.600000,4-3-2-5,0,1.355648,1.355648,0.0,4,5,45
1,00:57:09.600000,4-3-2-5,3200,1.294017,0.061631,0.0,4,5,45
2,00:57:36.700000,4-3-2-5,0,1.390100,1.390100,0.0,4,5,45
3,00:57:49.700000,4-3-2-5,4930,1.552820,0.162721,0.0,4,5,45

In [18]:
data2["throughput"]

0          0
1       3200
2          0
3       4930
4        753
        ...
1229     672
1230     720
1231     672
1232     672
1233     720
Name: throughput, Length: 1234, dtype: int64

In [19]:
type(data2["throughput"])

pandas.core.series.Series

In [20]:
import pandas as pd
import numpy as np
# 创建一个Series对象
s = data2["throughput"]
# 将Series转换为ndarray
arr = s.to_numpy()
# 输出数组
print(arr)

[   0 3200    0 ...  672  672  720]